#main_book_win {
    margin: auto;
    border: ridge 2px #0026ff;
    background-color: #F0F0F0;
    width: 700px;
    height: 450px;
    overflow: scroll;
    padding: 8px;
}

.book_table {
    margin-top: 12px;
    margin-left: 8px;
    width: 80%;
    border-collapse: separate;
    color: #586ad2;
    font-size: 20px;
    white-space: nowrap;
}

#b_hdr {
    padding-right: 5px;
}

#t_hdr, #a_hdr {
    color: #586ad2;
}

#p_hdr {
    padding-right: 15%;
    color: #586ad2;
}

td {
    border-right: hidden;
    border-bottom: hidden;
    text-align: left;
    overflow: hidden;
    color: #586ad2;
}

#sort_select_title {
    margin-left: 5px; 
    font-size: x-large;
    font-weight: bold;
    text-shadow: 1px 2px #6666FF;
    color: #26c0c0;
}

.sort_list {
    margin-top: 4px;
    margin-left: 5px; 
    font-size: large;
    text-align: left;
    border: 3px ridge #586ad2;
    border-collapse: inherit;
    max-width: 135px;
    list-style-type: none;
    color: #38c84a;
    font-weight: bold;
}

    .sort_list #b_tab:hover {
        color: #db23c1;
        font-size: x-large;
        font-weight: bolder;
    }

    .sort_list #t_tab:hover {
        color: #db23c1;
        font-size: x-large;
        font-weight: bolder;
    }

    .sort_list #a_tab:hover {
        color: #db23c1;
        font-size: x-large;
        font-weight: bolder;
        border-collapse: inherit;
    }

    .sort_list #p_tab:hover {
        color: #db23c1;
        font-size: x-large;
        font-weight: bolder;
    }
