body {
    background: #F0FFFF;
}

.form_info_win {
    margin: auto;
    border: ridge 2px #0026ff;
    background-color: #F0F0F0;
    box-sizing: border-box;
    width: 650px;
    height: 500px;
}

.name_class {
    margin-top: 52px;
}

.form_info label {
    margin-left: 15%;
    margin-bottom: 5px;
    font-size: 20px;
}

.form_info input {
    margin-left: 80px;
    margin-bottom: 5px;
    font-size: 15px;
}

.addr_class input {
    margin-left: 62px;
}

.age_selection select {
    margin-left: 95px;
    height: 30px;
    font-size: 15px;
}

.comments_class label {
    position: relative;
    top: 28px;
}

.comments_class textarea {
    margin-left: 233px;
    font-size: large;
}

.remchar_class label {
    position: relative;
    left: 53%;
    bottom: 78px;
    font-size: medium;
}

#chars_remaining {
    position: relative;
    left: 53%;
    bottom: 78px;
    text-align: right;
}

.submitBtn {
    position: relative;
    margin-top: 53px;
    left: 40%;
    value: Submit;
}
