body {
    background: rgba(42, 158, 184, 0.96);
}

.form_info_win {
    margin: auto;
    border: ridge 8px #0026ff;
    background-color: #F0F0F0;
    box-sizing: border-box;
    width: 910px;
    height: 648px;
    font-size: 30px;
}

.name_class {
    margin-top: 55px;
}

.form_info label {
    margin-left: 15%;
    margin-bottom: 5px;
}

.form_info input {
    margin-left: 80px;
    margin-bottom: 5px;
    font-size: x-large;
}

.addr_class input {
    margin-left: 55px;
}

.age_selection select {
    margin-left: 105px;
    height: 41px;
    font-size: large;
}

.comments_class label {
    position: relative;
    top: 30px;
}

.comments_class textarea {
    margin-left: 304px;
    font-size: x-large;
}

.remchar_class label {
    position: relative;
    left: 53%;
    bottom: 95px;
    font-size: large;
}

#chars_remaining {
    position: relative;
    left: 53%;
    bottom: 95px;
    text-align: right;
}

.submitBtn {
    position: relative;
    margin-top: 53px;
    left: 40%;
    value: Submit;
    font-size: x-large;
    font-weight: bold;
}
